.menu {
	width:50%; 
	height:50%; 
	transition:all 0,1s;	
	/*border:5px  grey;*/
	/*background-color:#D2D1E4;*/
	
	
}

#test {
	background-color:rgba(102,102,102,0.1);	
	
}

#form_test{

	margin-left:10%;
	margin-right:10%;
}




.active{
cursor:pointer;	
}

body {
	color:#000;
	background-color:#D2D1E4;
	background-image:url(../images/projet.png);
	background-attachment:fixed;

	-webkit-background-size: cover; /* pour Chrome et Safari */
  	-moz-background-size: cover; /* pour Firefox */
  	-o-background-size: cover; /* pour Opera */
  	background-size: cover; /* version standardisée */
	
}

.login{
	/*background-color:rgba(136,123,123,0.5);
	border-radius:20px;*/
	text-align:center;
}

.content{
	font-size:25px;
}

#reload:hover{
	cursor: pointer;
	transition: -webkit-transform 1s;
	/* Firefox */
    -moz-transform:rotate(360deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(360deg);
    /* Opera */
    -o-transform:rotate(360deg);
    /* IE9 */
    -ms-transform:rotate(360deg);
}



.bottom {
	text-align:center;
	overflow:auto;
	
}

.top {
	text-align:center;
	overflow:auto;
	
}

#retour{
	transition:all 0.6s;
	/*border:1px solid grey;*/
}

#deco {
		transition:all 0.6s;
}

#content-bl {
	text-shadow:0 0 2 #333;
}

.profil{
	color:#CCC;	
	width:101%;
	left:0px;
	right:0px;
	height:100%;
	z-index:1000;
	font-size:35px;
	position:absolute;
	top:-98%;
	transition:all 0.5s;
	
	background-color:rgba(102,102,102,0.5);
}

#portrait{
	position:absolute;
	z-index:2000;
	width:100%;
	height:100.5%;
	background-color:#999;
	top:-0.5%;	
}

#retour{
	height:50px;
	
}

#content-tl {
height:400px;
}

#content-tr {
height:400px;
}

#content-bl {
height:400px;
}

#content-br {
height:400px;
}


.close_profil{
	position:absolute;
	bottom:0px;
	width:20%;
	left:45.5%;
	right:40%;
	cursor:pointer;
}

.close_profil:hover{
	
}


a:hover{
	color:#333;	
}
a{
	color:#333;	
}

#logo{
	width:60%;
}

#creator{
	width:10%;
}

.top{
	text-align:center;
}

#top-left{
	background-color:rgba(255,80,0,0.2);
}

#top-right{
	background-color:rgba(255,153,0,0.2);
}

#bottom-left{
	background-color:rgba(0,153,255,0.2);
}


#bottom-right{
	background-color:rgba(0,255,51,0.2);
}


.active#top-left:hover{
	background-color:rgba(255,80,0,0.9);
}

.active#top-right:hover{
	background-color:rgba(255,153,0,0.9);
}

.active#bottom-left:hover{
	background-color:rgba(0,153,255,0.9);
}


.active#bottom-right:hover{
	background-color:rgba(0,255,51,0.9);
}

.inactive#top-right{
	background-color:rgba(255,153,0,0.9);
}

.inactive#top-left{
	background-color:rgba(255,80,0,0.9);
}

.inactive#bottom-left{
	background-color:rgba(0,153,255,0.9);
}


.inactive#bottom-right{
	background-color:rgba(0,255,51,0.9);
}
